footer.footer
    p.footer-text.u-margin-bottom-sm Designed & Built by 
        span Krishnaprasanth DSK
    p.footer-text.u-margin-bottom-sm &copy; 2021 - 2022 Rights Reservered.
    .profile
        ul.profile-link-items
            li.profile-link-item
                a.profile-link(href="https://www.hackerrank.com/KrishnaDSK" aria-label="Hackerrank" target="_blank")
                    img(src="/img/hr.png" alt="Hacker Rank - Image")
            li.profile-link-item
                a.profile-link(href="https://www.linkedin.com/in/krishnaprasanth-d-v-b08a861b4/" aria-label="LinkedIn"  target="_blank")
                    img(src="/img/lin.png" alt="LinkedIN - Image")
            li.profile-link-item
                a.profile-link(href="https://github.com/BeastyDSK" aria-label="GitHub"  target="_blank")
                    img(src="/img/git.png" alt="GitHUB - Image")
                