header.header
    a.header_logo(href="")
        span.header_logo-text Portfolio
    nav.navigation
        ul.navigation_items
            li.navigation_item
                a.navigation_link(href="#skills") My Skills
            li.navigation_item
                a.navigation_link(href="#about-me") About Me
            li.navigation_item
                a.navigation_link(href="#projects") Projects
            li.navigation_item
                a.navigation_link.cta-btn(href="mailto:dhawansara14346@gmail.com?subject=Hi%20There") Contact Me
            