header.header
    a.header_logo(href="/" aria-label="Home Page - Link")
        span.header_logo-text Portfolio
    .menu
        input(type="checkbox", id="menu" name='menu').menu-box
        label.menu-icon(for="menu" aria-label="menu")
            span &nbsp;
    nav.navigation
        ul.navigation_items
            li.navigation_item
                a.navigation_link(href="#skills" aria-label="My Skills - Link") My Skills
            li.navigation_item
                a.navigation_link(href="#about-me" aria-label="About me - Link") About Me
            li.navigation_item
                a.navigation_link(href="#projects" aria-label="My Projects - Link") Projects
            li.navigation_item
                a.navigation_link.cta-btn(href="mailto:dhawansara14346@gmail.com?subject=Hi%20There" aria-label="Contact Me - Link") Contact Me
            