$color-primary-back-dark: #280931;
$color-primary-back-light: #092530;
$color-primary-back: #011213;
$color-primary-text: #2dd6b2;
$color-secondary-text: #f94c66;

$color-secondary-back-1: #1dcb5a;
$color-secondary-back-2: #20df63;

$border-1px: 1px solid $color-secondary-back-1;

.u-margin-bottom-sm {
    margin-bottom: 2rem;
}
.u-margin-bottom-md {
    margin-bottom: 4rem;
}
.u-margin-bottom-lg {
    margin-bottom: 6rem;
}
.u-margin-bottom-hg {
    margin-bottom: 8rem;
}
