@charset "UTF-8";
.u-margin-bottom-sm {
  margin-bottom: 2rem;
}

.u-margin-bottom-md {
  margin-bottom: 4rem;
}

.u-margin-bottom-lg {
  margin-bottom: 6rem;
}

.u-margin-bottom-hg {
  margin-bottom: 8rem;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #011213;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  height: 100px;
  background: #f94c66;
}

body {
  height: 100vh;
  box-sizing: border-box;
  font-family: "Nunito", "sans-serif";
  font-weight: 400;
  background-color: #011213;
  color: #2dd6b2;
  font-size: 1.6rem;
}

ul li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

.cta-btn {
  transition: all 0.5s;
  padding: 0.6rem 1.5rem;
  border: 1px solid transparent;
  border-radius: 5px;
}
.cta-btn:hover {
  border: 1px solid #2dd6b2;
}

.special-btn {
  border: 2px solid #2dd6b2;
  border-radius: 5px;
  transition: all 0.3s;
  padding: 1rem 3rem;
  text-transform: uppercase;
}
.special-btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.special-btn:active {
  transform: translateY(0.5rem);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.card {
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: #092530;
}
.card-title {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #f94c66;
  text-align: center;
}
.card-description {
  font-size: 1.3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 150px;
}
.card-tech-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-tech-item {
  font-size: 1rem;
  color: #baaeae;
}
.card-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.git-link,
.open-link {
  display: inline-block;
}
.git-link svg,
.open-link svg {
  width: 3rem;
  height: 3rem;
}

.header {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo-text {
  font-size: 3.2rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #2dd6b2 50%, #f94c66 50%);
}
.header .navigation_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navigation_item {
  margin-right: 1.6rem;
}
.header .navigation_link:not([href^=mailto]) {
  position: relative;
  transition: all 0.5s ease-in-out;
}
.header .navigation_link:not([href^=mailto]):hover {
  color: #22ae90;
}
.header .navigation_link:not([href^=mailto])::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 2px;
  width: 0;
  background: #2dd6b2;
  transition: all 0.5s ease-in-out;
}
.header .navigation_link:not([href^=mailto]):hover::after {
  width: 100%;
}

.footer {
  padding: 1.5rem 3rem;
  text-align: center;
}
.footer-text {
  font-size: 1.6rem;
}
.footer-text span {
  font-weight: 700;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  background-image: linear-gradient(to right, #2dd6b2, #20df63);
}

.container {
  max-width: 110rem;
  margin: 0 auto;
}

.heading-primary {
  font-size: 6rem;
}

.heading-secondary {
  font-size: 4rem;
}

.heading-tertiary {
  font-size: 3.2rem;
  padding-left: 1rem;
  border-left: 3px solid #f94c66;
}

.section-heading {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-skills, .section-about, .section-projects {
  padding: 5rem 10rem;
}
.section-about .text {
  padding: 0rem 4rem;
  font-size: 1.8rem;
  line-height: 1.6;
}

.skill-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  gap: 1.5rem;
  padding: 3rem;
}
.skill-item {
  font-size: 2rem;
  position: relative;
}
.skill-item::before {
  content: "≽";
  color: #f94c66;
  margin-right: 1rem;
}

/*# sourceMappingURL=style.compile.css.map */
